
@keyframes moveInLeft 
{/* fade in from left to right */
    0%
    {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%
    {
        transform: translateX(1rem);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes moveInRight 
{/* fade in from right to left */
    0%
    {
        opacity: 0;
        transform: translateX(10rem);   /* 1rem = root(html) font-size = 10px */
    }
    80%
    {
        transform: translateX(-1rem);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes moveInBottom 
{/* fade in from bottom to up */
    0%
    {
        opacity: 0;
        transform: translateY(3rem);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }
}
